body{
    background: url('https://www.wallpapertip.com/wmimgs/1-14560_spider-man-advanced-suit-spiderman-ps4-wallpaper-4k.jpg');
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
::-webkit-scrollbar {
    display: none;
}